/* From Uiverse.io by alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* From Uiverse.io by mrhyddenn */
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #3f51b5;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #3f51b5;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}


/* lecturer page */
.lecturer-container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

table {
    width: 90%;
    font-family: 'Poppins', sans-serif;
}

.mat-mdc-header-cell {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.lecturer-container-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.lecturer-list-title {
    font-family: 'Poppins', sans-serif;
    color: #3f51b5;
    font-weight: bold;
    display: flex;
    flex: 1;
}

.header-actions {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

:host ::ng-deep .mat-mdc-row .mat-mdc-cell {
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 600px) {
    .lecturer-container {
        width: 100%;
        position: sticky;
        left: 0;

    }

    .icon-btn {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .add-btn:hover {
        width: 90px;
    }

    .add-btn::before,
    .add-btn::after {
        height: 3px;
        width: 8px;
    }

    .add-btn::after {
        right: 10px;
    }

    .add-btn::before {
        left: 10px;
    }

    .btn-txt {
        font-size: 12px;
    }

    .add-icon::after,
    .add-icon::before {
        height: 14px;
        width: 2px;
        top: calc(50% - 7px);
    }

    .add-icon::before {
        left: 18px;
    }

    .add-icon::after {
        right: 18px;
    }

    .add-btn:hover .add-icon::before {
        left: 12px;
        height: 3px;
        top: calc(50% - 1.5px);
    }

    .add-btn:hover .add-icon::after {
        right: 12px;
        height: 3px;
        top: calc(50% - 1.5px);
    }

    .lecturer-list-title {
        align-items: center;
        font-size: medium;
    }

    .group {
        width: 50%;
    }

    :host ::ng-deep .mat-mdc-row .mat-mdc-cell {
        min-width: 150px;
        font-family: 'Poppins', sans-serif;
    }

    ::ng-deep .mat-drawer-transition .mat-drawer-content {
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .lecturer-container {
        width: 100%;
        position: sticky;
        left: 0;
    }

    :host ::ng-deep .mat-mdc-row .mat-mdc-cell {
        min-width: 150px;
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width: 992px) and (max-width: 1199) {
    :host ::ng-deep .mat-mdc-row .mat-mdc-cell {
        min-width: 150px;
        font-family: 'Poppins', sans-serif;
    }

    td:nth-last-child(1) {
        display: flex;
        padding: 10px;
    }
}