<div class="student-add-survey-container">
    <div class="header">
        <h2 mat-dialog-title>Survey Form</h2>
    </div>

    <mat-dialog-content class="mat-typography">

        <form [formGroup]="formSurvey" (ngSubmit)="onSubmit()">
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close color="warn">Cancel</button>
                <button mat-button color="primary" type="submit" *ngIf="!viewMode">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
                <button mat-button type="button" color="accent" (click)="openPreview() ">
                    <mat-icon>visibility</mat-icon>
                    Preview
                </button>
            </mat-dialog-actions>
            <div class="title">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Expire Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="expire_date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div formArrayName="questions">

                <fieldset class="add-question" *ngFor="let q of questionArray.controls; let i = index"
                    [formGroupName]="i">
                    <legend> Question {{ i + 1 }}</legend>
                    <button mat-icon-button color="warn" type="button" class="btn-close"
                        *ngIf="questionArray.length > 1" (click)="removeQuestion(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <div class="question">
                        <mat-form-field class="example-full-width">
                            <mat-label>Question *</mat-label>
                            <input matInput formControlName="questionText">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Question Type</mat-label>
                            <mat-select formControlName="answerType">
                                <mat-option value="single">Single Answer</mat-option>
                                <mat-option value="multiple">Multiple Answer</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="direction">
                        <label>Show Answer as</label>
                        <mat-radio-group formControlName="showDirection">
                            <mat-radio-button value="vertical">Vertically</mat-radio-button>
                            <mat-radio-button value="horizontal">Horizontally</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <fieldset class="answer-box" formArrayName="answers">
                        <legend>Answer</legend>

                        <div *ngFor="let a of getAnswer(i).controls; let j = index" [formGroupName]="j">
                            <mat-form-field class="example-full-width">
                                <mat-label>Answer {{ j + 1 }}</mat-label>
                                <input matInput formControlName="answerText">
                            </mat-form-field>
                            <button mat-icon-button color="warn" type="button" *ngIf="getAnswer(i).controls.length > 1"
                                (click)="removeAnswer(i, j)" [disabled]="viewMode">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>


                        <button mat-fab color="primary" type="button" (click)="addAnswer(i)" [disabled]="viewMode">
                            <mat-icon>add</mat-icon>
                        </button>
                    </fieldset>

                </fieldset>
            </div>

            <div class="add-question-btn">
                <button mat-fab color="primary" type="button" (click)="addQuestion()" [disabled]="viewMode">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </form>
    </mat-dialog-content>
</div>


<!-- <pre>{{ formSurvey.value | json }}</pre> -->