<h1>Classes</h1>
<div class="class-container">

    <div class="header">
        <button> <mat-icon>menu</mat-icon></button>
        <button> <mat-icon>grid_4x4</mat-icon></button>
    </div>
    <div class="class-body">
        <mat-grid-list cols="4" rowHeight="120px" gutterSize="10px">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </div>
</div>