.student-home-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
}

@media only screen and (max-width: 600px) {
  .student-home-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  ::ng-deep .mat-drawer-transition .mat-drawer-content {
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  .student-home-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  .student-home-container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }
}