table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

td {
  width: 11.11%;
  font-family: 'Poppins', sans-serif;
}

th {
  width: 11.11%;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.student-list-container {
  width: 95%;
  margin: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: #3f51b5;
  margin-top: 20px;
}

.header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.search-side {
  width: 20%;
  flex: 1;
}

.button-side {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}