table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

td {
  min-width: 10%;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
}

th {
  min-width: 10%;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  white-space: nowrap;
}

.student-list-container {
  width: 95%;
  margin: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: #3f51b5;
  margin-top: 20px;

}


.header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.header-title {
  display: flex;
  flex: 1;
}

.search-side mat-form-field {
  height: 70px;
}

@media (max-width: 600px) and (max-width: 767px) {
  .header {
    width: 100%;
  }

  .search-side {
    width: 30%;
  }

  .student-list-table {
    overflow-x: auto;
  }

  .student-list-table mat-paginator {
    position: sticky;
    left: 0;
    right: 0;
  }

  :host ::ng-deep .mat-sort-header-content {
    min-width: auto;
  }

  td:nth-last-child(1) {
    display: flex;
    padding: 10px;
  }

  ::ng-deep .mat-drawer-transition .mat-drawer-content {
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {

  .student-list-table {
    overflow-x: auto;
  }

  .student-list-table mat-paginator {
    position: sticky;
    left: 0;
    right: 0
  }

  :host ::ng-deep .mat-sort-header-content {
    min-width: auto !important;
  }

  td:nth-last-child(1) {
    display: flex;
    padding: 10px;
  }

}

/* 992 - 1199 */
@media (min-width: 992px) {


  :host ::ng-deep .mat-sort-header-content {
    min-width: auto !important;
  }

  .student-list-table {
    overflow-x: auto;
  }

  .student-list-table mat-paginator {
    position: sticky;
    left: 0;
    right: 0
  }
}