.student-survey-container {
    width: 98%;
    margin: auto;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    min-width: auto;
    font-family: 'Poppins', sans-serif;
}

.student-survey-header {
    display: flex;
    margin-top: 20px;
}

.student-survey-header .title {
    display: flex;
    flex: 1;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.student-survey-header .right-side {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

@media (max-width: 600px) and (max-width: 767px) {
    .student-survey-header {
        width: 100%;
    }

    .student-survey-header .right-side {
        width: 40%;
    }
}