:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.student-add-container {
  width: 60%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 6px;
  margin-top: 10px;
}
.student-add-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 10px;
}
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #831717;
}
.image-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #bdbdbd;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}
.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s ease;
  font-size: 14px;
}
.image-preview:hover .overlay {
  opacity: 1;
}

.overlay mat-icon {
  font-size: 32px;
  margin-bottom: 4px;
}
.student-add-action {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.add-form-array {
  display: flex;
  justify-content: flex-start;
}

.student-contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  border: 1px solid #bdbdbd;
  padding: 10px;
  border-radius: 10px;
}
