:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.staff-add-container {
    width: 60%;
    /* background-color: red; */
    margin: auto;
    border: 4px solid darkgray;
    margin-top: 50px;
    padding: 30px;
}

.staff-add-container h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #3f51b5;
}

.staff-add-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 10px;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.example-full-width {
    width: 100%;
}

.example-chip-list {
    width: 100%;
}


.staff-add-action {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.image-preview {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid #bdbdbd;
    position: relative;
    cursor: pointer;
    /* margin: 0 auto; */
    display: flex;
    /* flex: 1; */
    justify-content: flex-start;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s ease;
    font-size: 14px;
}

.image-preview:hover .overlay {
    opacity: 1;
}

.overlay mat-icon {
    font-size: 32px;
    margin-bottom: 4px;
}