/* * {
    font-family: 'Poppins', sans-serif;
} */
/* From Uiverse.io by LightAndy1 */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 40px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    outline: none;
    color: black;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.input::placeholder {
    color: #bdbecb;
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}

/* From Uiverse.io by andrew-demchenk0 */
.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 80px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    /* box-shadow: 4px 4px var(--main-color); */
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(70px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    stroke: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 130px;
    transform: translateX(-25px);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    height: 104px;
}

.example-element-diagram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}



.staff-container {
    width: 90%;
    margin: auto;
}

.staff-list-header {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}

.left-header-side {
    display: flex;
    flex: 1;
}

.right-header-side {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.hidden {
    display: none;
}

.table-row {
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    min-width: auto;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    background: white;
}

.table-wrapper table {
    min-width: 700px;
}

@media (max-width: 600px) and (max-width: 767px) {

    .staff-list-header {
        width: 100%;
        position: sticky;
        top: 0;
        padding: 10px 0;
        z-index: 10;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }

    .left-header-side {
        font-size: 18px;
        font-weight: 600;
        flex: 1;
    }

    .right-header-side {
        display: flex;
        justify-content: flex-end;
        gap: 0;

    }

    .group {
        width: 70%;
        transform: translateX(40px);
    }

    ::ng-deep .mat-mdc-header-cell {
        background-color: #f4f4f4 !important;
        font-weight: 600;
        font-size: 14px;
        color: #333;
        position: sticky;
        top: 0;
        z-index: 5;
    }

    .table-row {
        min-width: 200px;
    }

    ::ng-deep .mat-drawer-transition .mat-drawer-content {
        margin-left: 0 !important;
    }



}

@media (min-width: 768px) and (max-width: 991px) {
    .table-row {
        min-width: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1199) {
    .table-row {
        min-width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .table-row {
        min-width: 200px;
    }

    ::ng-deep .mat-drawer-transition .mat-drawer-content {
        scrollbar-width: thin;
    }

}