<h2 mat-dialog-title style="text-align: center;">Preview</h2>

<mat-dialog-content>

    <h3>{{ data.title }}</h3>

    <div *ngFor="let question of data.questions; let i = index">
        <p><strong>{{ i + 1 }}. {{ question.questionText }}</strong></p>

        <ng-container *ngIf="question.answerType === 'single'">
            <mat-radio-group [ngClass]="question.showDirection">
                <mat-radio-button *ngFor="let a of question.answers">
                    {{ a.answerText }}
                </mat-radio-button>
            </mat-radio-group>
        </ng-container>

        <ng-container *ngIf="question.answerType === 'multiple'">
            <mat-checkbox *ngFor="let a of question.answers" [ngClass]="question.showDirection">
                {{ a.answerText }}
            </mat-checkbox>
        </ng-container>

    </div>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>
</mat-dialog-content>